<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="16"/>
    </connectionManagement>
  </system.net>
  <system.web>
      
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="3600" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataTranslation" receiveTimeout="01:00:00"
          sendTimeout="01:00:00" maxBufferPoolSize="1000000000" maxReceivedMessageSize="1000000000">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDataSimulation" receiveTimeout="01:00:00"
          sendTimeout="01:00:00" maxBufferPoolSize="1000000000" maxReceivedMessageSize="1000000000">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8040/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IDataTranslation" contract="DataExchange.IDataTranslation"
        name="WSHttpBinding_IDataTranslation" />
      <endpoint address="http://127.0.0.1:8040/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IDataSimulation" contract="DataExchange.IDataSimulation"
        name="WSHttpBinding_IDataSimulation" />
    </client>
  </system.serviceModel>
<system.webServer >

  <defaultDocument>
    <files>
      <add value="index.aspx" />
    </files>
  </defaultDocument>
  <staticContent>
    <remove fileExtension=".xml"/>
    <mimeMap fileExtension=".idf" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".ifc" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".rvt" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".xml" mimeType="application/octet-stream" />
  </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>